
/* For desktops */

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --main-text-color: hsl(228, 12%, 48%);
    --secondary-text-color: hsl(212, 21%, 14%);
    --main-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Fraunces', serif;
    --main-font-weight: 500;
    --secondary-font-weight: 700;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cream);
    font-size: 14px;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    min-width: 375px;
}

/* card component */
.card-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-height: 50rem;
    width: 55%;
    max-width: 1040px;
    min-width: 65rem;
    border-radius: 10px;
    background-color: var(--white);
}
.card-component figure {
    width: 100%;
    height: 100%;
}
.desktop-image {
    max-height: 50rem;
    min-height: 50rem;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.mobile-image {
    display: none;
}
.card-component-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 50rem;
    width: 100%;
}
.card-component h3 {
    color: var(--main-text-color);
    letter-spacing: 5px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 3rem;
}
.card-component h2 {
    margin-top: 2rem;
    margin-left: 3rem;
    text-align: left;
    justify-content: center;
    font-family: var(--secondary-font-family);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-text-color);
    font-size: 3.8rem;
    line-height: 4rem;
    width: 80%;
}
.card-component p {
    margin-top: 1.5em;
    text-align: left;
    color: var(--main-text-color);
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-left: 3rem;
    line-height: 2.4rem;
    width: 80%;
}
.price-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-left: 3rem;
}
.current-price {
    color: var(--dark-cyan);
    font-size: 2.5rem;
    font-weight: var(--secondary-font-weight);
    font-family: var(--secondary-font-family);
    margin-right: 1rem;
}
.previous-price {
    margin-left: 1rem;
    color: var(--main-text-color);
    text-decoration: line-through;
    font-size: 1.4rem;
}
.card-component button {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 4rem;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-right: 1.5rem;
    margin-left: 3rem;
    font-size: 1.3rem;
}
.card-component button img {
    width: 28px;
    height: 40px;
    margin-right: 0.7rem;
    margin-right: 1rem;
}
.attribution {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
.attribution a {
    text-decoration: none;
}